/*General*/
html {
  font-size: 16px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

#faculty a{
  color: #f5a623;
}

#about a{
  color: #f5a623;
}

#classes a{
  color: #f5a623;
}
/*Header*/
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3.875rem;
  background-color: #000000;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 3.6875rem;
}

.logo img {
  height: 50px;
}

header ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  list-style-type: none;

}

header ul li {
  display: inline;
  padding-right: 3.4375rem;
}

/*main content index page*/

.index-banner{
  padding-top: 3.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('C:/Users/marcus/Documents/GitHub/pyt_dance_studio/resources/dancers-photo.png');
  background-size: cover;
  height: 40rem;
  width: auto;
}

.index-banner-content{
  display: block;
  width: 45rem;
  text-align: center;
  top: 9.4375rem;
}

.index-banner-content h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3.125rem;
  font-weight: bold;
  color: #ffffff;
  line-height: normal;
  margin: auto;
}

.index-banner-content p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ffffff;
  font-family: 'Open Sans',sans-serif;
}

.index-banner-button{
  border-radius: 2px;
  background-color: #f5a623;
  font-family: 'Open Sans',sans-serif;
  font-size:1.375rem;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  padding: 1.25rem 3.125rem;
  margin-top: 5rem;
  margin-bottom: 3.125rem;
}
/*3 identical sections*/
.main {
  height: 31.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3.875rem;
}
.index-main-container{
  height: 20rem;
  width:25rem;
  color: #ffffff;
  display: flex;
  font-family: 'Roboto';
}
#graffiti{
  background-image: url('C:/Users/marcus/Documents/GitHub/pyt_dance_studio/resources/graffiti-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
 #graffiti .index-main-container  {
  background-color: rgba(120, 73, 225, 0.9);
}
#fire {
  background-image: url('C:/Users/marcus/Documents/GitHub/pyt_dance_studio/resources/fire-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#fire .index-main-container {
  background-color: rgba(173, 74, 226, 0.9);
}

#sky {
  background-image: url('C:/Users/marcus/Documents/GitHub/pyt_dance_studio/resources/jump-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#sky .index-main-container {
  background-color: rgba(120, 73, 225, 0.9);
}

.index-main-content{
  top: 5rem;
  padding-left: 3rem;
}

.index-main-content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.index-main-content p {
  font-size: 1.125rem;
  line-height: 1.4
}

.index-main-content span {
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: bold;
}

/*footer section*/

footer{
  padding-top: 3.875;
  height: 18.125rem;
  background-image: url('C:/Users/marcus/Documents/GitHub/pyt_dance_studio/resources/party-photo.png');
}

.findus {
  display: flex;
  align-items: center;
  height: 3.125rem;
}
