/*General*/
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #ffffff;
}

#faculty a{
  color: #f5a623;
}

#about a{
  color: #f5a623;
}

#classes a{
  color: #f5a623;
}
/*Header*/
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3.875rem;
  background-color: #000000;
  top: 0;
  flex-grow: 1;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 3.6875rem;
}

header .logo {
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

header ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  list-style-type: none;

}

header ul li {
  display: inline;
  padding-right: 3.4375rem;
}

/*footer section*/

footer{
  padding-top: 3.875;
  height: 18.125rem;
  background-image: url('../party-photo.png');
  background-size: cover;
}

.findus {
  display: flex;
  height: 3.125rem;
  font-family: 'Open Sans';
  color: #ffffff;
  font-size: 0.875rem;
  justify-content: center;
  background-color: rgba(120, 73, 225, 0.4)
}

.socialmedia {
  width: 9.375rem;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.socialmedia i {
  margin: auto 20px;
}

.information {
  padding-right: 3.4;
}

.contact {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
  font-family: 'Open Sans';
  display: block;
  font-size: 0.875rem;
  letter-spacing: 0.7px;
  text-align: center;

}


/*main content index page*/

.index-banner{
  margin-top: 3.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../dancers-photo.png');
  background-size: cover;
  height: 40rem;
  width: auto;
}

.index-banner-content{
  display: block;
  width: 45rem;
  text-align: center;
  top: 9.4375rem;
}

.index-banner-content h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3.125rem;
  font-weight: bold;
  color: #ffffff;
  line-height: normal;
  margin: auto;
}

.index-banner-content p{
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ffffff;
  font-family: 'Open Sans',sans-serif;
}

.index-banner-button{
  border-radius: 2px;
  background-color: #f5a623;
  font-family: 'Open Sans',sans-serif;
  font-size:1.375rem;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  padding: 1.25rem 3.125rem;
  margin-top: 5rem;
  margin-bottom: 3.125rem;
}
/*3 identical sections*/
.main {
  height: 31.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3.875rem;
}
.index-main-container{
  height: 20rem;
  width:25rem;
  color: #ffffff;
  display: flex;
  font-family: 'Roboto';
}
#graffiti{
  background-image: url('../graffiti-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
 #graffiti .index-main-container  {
  background-color: rgba(120, 73, 225, 0.9);
}
#fire {
  background-image: url('../fire-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#fire .index-main-container {
  background-color: rgba(173, 74, 226, 0.9);
}

#sky {
  background-image: url('../jump-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#sky .index-main-container {
  background-color: rgba(120, 73, 225, 0.9);
}

.index-main-content{
  top: 5rem;
  padding-left: 3rem;
}

.index-main-content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.index-main-content p {
  font-size: 1.125rem;
  line-height: 1.4;
}

.index-main-content span {
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: bold;
}




/* ABOUT.CSS */

.about-banner {
  padding-top: 3.875rem;
  display: flex;
  align-items: center;
  border-bottom: 10px solid #794ae2;
}

.about-banner-img {
  width: 50%;
}

.about-banner-content {
  width: 50%;
  text-align: center;
}

.about-banner-content h1 {
  font-family: 'Roboto';
  font-size: 3.125rem;
  font-weight: bold;
  color: #794ae2;
}

.about-banner-content p {
  color: #666666;
  font-family: 'Open Sans';
}

/*main section*/

.dancestyles {
  padding-top: 3.875rem;
  display: flex;
  align-items: center;
  padding: 4rem 19%;
}

.dancestyles img{
  height:9.375;
}

.dancestyle-content {
  text-align: center;
}

.dancestyle-content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Roboto';
  color: #794ae2;
}

.dancestyle-content p {
  font-family: 'Open Sans';
  font-size: 1.5;
  color: #666666
}

#ballet {
  background-color: #f2f2f2;
}

#ballet img {
  margin-right: 5rem;
}

#clock {
  background-color: #ffffff;
}

#clock img {
  margin-left: 5rem;
}

#heart {
  background-color: #f2f2f2;
}

#heart img {
  margin-right: 5rem;
}

#tower {
  background-color: #ffffff;
}

#tower img {
  margin-left: 5rem;
}

/*map section*/

.map {
  padding-top: 3.875rem;
  height: 31.25rem;
  background-image: url('../map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.map-container {
    height: 20rem;
    width:25rem;
    color: #ffffff;
    display: flex;
    font-family: 'Roboto';
    background-color: rgba(120, 73, 225, 0.9);
}

.map-content{
  top: 5rem;
  padding-left: 3rem;
}

.map-content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.map-content p {
  font-size: 1.125rem;
  line-height: 1.4;
}

/*CLASSES.CSS*/

.classes-banner {
  padding-top: 3.875rem;
  display: flex;
  align-items: center;
  border-bottom: 10px solid rgba(174, 75, 227, 0.9);
}

.classes-banner-img {
  width: 50%;
}

.classes-banner-content {
  width: 50%;
  text-align: center;
}

.classes-banner-content h1 {
  font-family: 'Roboto';
  font-size: 3.125rem;
  font-weight: bold;
  color: rgba(174, 75, 227, 0.9);
}

.classes-banner-content p {
  color: #666666;
  font-family: 'Open Sans';
}

/*classes main section*/

.classes-main {
  padding-top: 3.875rem;
  margin-top: 5.3125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.4rem;
  justify-content: center;
}

.classes-container {
  width: 25rem;
  display: flex;
  align-items: center;

}

.classes-content h2 {
  font-size: 1.875rem;
  font-weight: bold;
  color:rgba(174, 75, 227, 0.9);
  font-family: 'Roboto';
}

.classes-content p {
  font-family: 'Open Sans';
  font-size: .875rem;
  line-height: 1.7;
  color: #000000;
}

.classes-date span {
  font-size: 1.125rem;
  font-family: 'Open Sans';
  font-weight: bold;
  color: #000000;
}

.classes-date p {
  font-family: 'Open Sans';
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
}

/*FACULTY CSS*/

.faculty-main {
  padding-top: 3.875rem;
  display: flex;
}

.faculty-container {
  width: 16.875rem;
  text-align: center;
}

.faculty-container img {
  padding-bottom: 1.25rem;
}

.faculty-container h2 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #8a54ff;
  font-family: 'Open Sans';
}

.faculty-container span {
  padding-bottom: .625rem;
  font-size: 1.125rem;
  font-weight: bold;
  font-family: 'Open Sans';
}

.faculty-container p {
  font-family: 'Open Sans';

}
